body{
    background-image: linear-gradient(lightblue,hotpink, lightyellow);
    background-repeat: no-repeat;
    height: 722px;
  }
  
  .main{
    font-size: 30px;
    font-weight: 700;
  }
  .main_name{
    font-size: 20px;
    text-align: center;
    width: 400px;
    height: 60px;
    padding: 8px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    
  }
  .submit1{
     height: 50px;
     width: 350px;
     font-size: 28px;
    margin: 20px;
    border-radius: 25px;
    background-color:rgb(24, 176, 214);
    border: 5px solid white;
    color: white;
    box-shadow: 2px 2px 2px 2px grey;
  }
  .textform{
    text-align: center;
  }
  .footermain{
    border: 2px solid black;
    background-color: rgb(238, 132, 176);
    margin-top: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .footer{
    border: 2px solid rgb(203, 243, 27);
    background-color:rgb(195, 142, 211);
    padding-top: 25px;
    width: 500px;
    height: 60px;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
  
  }
  .goback{
    height: 60px;
    width: 300px;
     background-color:aqua(244, 11, 197);
     border: 0px;
     padding: 12px 55px;
     border-radius: 5px;
     position: absolute;
     left: 39%;
     top: 80%;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-image: linear-gradient(to bottom,rgb(0,225,225),pink,pink,white);
    }
    .main_name{
      font-size: 20px;
      width: 300px;
      height: 60px;
      padding: 8px;
      margin: 5px;
      border: 2px solid black;
      border-radius: 20px;
      background-color: rgb(233, 18, 204);
    }
    .goback{
      font-weight: bold;
      height: 60px;
      width: 300px;
       background-color:rgb(244, 11, 197);
       border: 0px;
       padding: 12px 55px;
       border-radius: 5px;
       position: absolute;
       left: 10%;
       top: 80%;
    }
    .submit1{
      height: 50px;
      width: 200px;
      font-size: 28px;
     margin: 5px;
     border-radius: 25px;
     background-color:aqua(214, 24, 138);
     border: 0;
     color: white;
     box-shadow: 2px 2px 2px 2px grey;
   }
  }